*{
    margin:0;
    padding: 0;
}
h1{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgb(41, 38, 38);
    border: 2px solid rgb(41, 38, 38);
}
nav{
    color: white;
    font-size:30px;
    padding: 20px 0px 20px 136px;
    background-color: rgb(87, 95, 93);
    border-bottom:2px solid white;
    border-top:2px solid  white; 
}
section{
    /* padding: 100px 300px; */
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border: 5px solid white;
}
.main{
    display: inline-block;
    color:white;
    font-size: 30px;
    text-align: center;
    background-color: gray;
    width: 59%;
    padding: 200px 70px;
}
.side{
    display: inline-block;
    color:white;
    font-size: 30px;
    text-align: center;
    background-color: rgb(160, 155, 155);
    width: 20%;
    padding: 200px 40px;
}
footer{
    color:white;
    font-size:30px;
    text-align: center;
    padding: 15px;
    background-color: black;
    border-bottom:2px solid white;
    border-top:2px solid white;
}