*{
    margin:0;
    padding: 0;
}
body{
    margin: 5px;
}
h1{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgb(41, 38, 38);
    border: 2px solid rgb(41, 38, 38);
    margin: 6px;
}
nav{
    color: white;
    font-size:30px;
    text-align: center;
    padding:20px;
    background-color: rgb(87, 95, 93);
    border-bottom:2px solid white;
    border-top:2px solid  white; 
    margin: 6px;
}
section{
    background-color: gray;
    overflow: hidden;
    margin: 6px;
}
.slideshow{
    background: #000;
    margin: 20px 22px 20px 16px;
    color: #fff;
    text-align: center;
    padding: 40px;
    font-size:30px;
}
.grid{
    margin: 20px;
}
.column {
    width: 32.11%;
    height: 200px;
    background-color: #fff;
    display: inline-block;
    margin-right: 22px;
}
.grid .column:first-child{
    margin-left: -5px;
}
.grid .column:last-child{
    margin: 0;
}
footer{
    color:white;
    font-size:30px;
    text-align: center;
    padding: 15px;
    background-color: black;
    border-bottom:2px solid white;
    border-top:2px solid white;
    margin: 6px;
}