h1{
    color:rgb(75, 235, 75);
    text-align:center;
    }
.headone{
    color:rgb(223, 20, 196);
    text-align:center;
    border: 1px solid black;
    background-color: rgb(230, 166, 30);
}
p{
    color:red;
}
ul{
    color: blueviolet;
}